[submodule "usr/local/scripts/script-link-script-paths"]
	path = usr/local/scripts/script-link-script-paths
	url = https://github.com/simonwalz/script-link-script-paths.git
[submodule "usr/local/scripts/sysgit"]
	path = usr/local/scripts/sysgit
	url = https://github.com/simonwalz/sysgit.git
